/**
 * Clearing
 */
* {
  margin: 0;
  padding: 0;
  color: #c4c4c4;
  font-family: "Sanchez", "Arial", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background: #1c181a;
  font-size: 1.2em;
}
.hidden {
  display: none;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -33px;
}
#wrapper :focus,
#header :focus {
  outline: 2px dotted #18963C !important;
}
.buttonWrapper :focus {
  outline-offset: 10px;
}
li:focus {
  outline-offset: -2px;
}
#wrapper li.active:focus {
  outline-color: #fff !important;
}
#footer,
#wrapperBottom {
  height: 33px;
  clear: both;
}
#header,
#footer {
  background: #0c0b0c;
}
#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#header,
#wrapperTop {
  height: 120px;
}
#headline {
  position: absolute;
  top: 15px;
  left: 100px;
  font-size: 1.3em;
  text-transform: uppercase;
}
#description {
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 1.3em;
}
#description span {
  float: right;
  clear: both;
  color: #1ebc4b;
}
#description .band {
  font-size: 0.8em;
}
#strength {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 29px;
  height: 97px;
  background: url(images/strength.gif);
}
#strength .inner {
  background: url(images/strengthInner.gif);
  width: 100%;
  height: 60%;
}
.buttonWrapper {
  position: absolute;
  width: 66px;
  height: 80px;
  text-transform: uppercase;
}
.buttonWrapper.power {
  width: 84px;
  top: 5px;
  left: 5px;
  height: 105px;
}
.buttonWrapper span {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#powerButton {
  height: 60px;
  background: url(images/powerButton.png) no-repeat 0 0;
  color: #f00;
  padding: 12px;
}
#powerButton a {
  display: block;
  width: 60px;
  height: 60px;
}
#powerButton.down {
  background-position: 0 -84px;
}
.on #powerButton {
  background-position: -84px 0;
}
.on #powerButton.down {
  background-position: -84px -84px;
}
#wrapper .ui-slider {
  border: 1px solid #777;
}
#wrapper .ui-slider-handle {
  background: url(images/sliderHandle.png) no-repeat 3px 3px;
  border: none;
  width: 26px;
  height: 26px;
}
#wrapper .ui-slider-horizontal {
  background: url(images/sliderHorizontal.png) repeat-x;
  height: 8px;
}
#wrapper .ui-slider-horizontal .ui-slider-handle {
  margin-left: -12px;
  top: -9px;
}
#wrapper .ui-slider-horizontal .ui-slider-range {
  background: none;
}
#wrapper .balanceSlider .ui-slider-range-max {
  width: auto !important;
}
#wrapper .ui-slider-vertical {
  background: url(images/sliderVertical.png) repeat-y;
  width: 8px;
}
#wrapper .ui-slider-vertical .ui-slider-handle {
  margin-top: -12px;
  left: -9px;
}
#wrapper .ui-slider-vertical .ui-slider-range {
  background: none;
}
#wrapper .trebleSlider .ui-slider-range-max,
#wrapper .bassSlider .ui-slider-range-max {
  height: auto !important;
}
#wrapper .ui-button {
  box-shadow: 1px 1px 5px #000;
}
#wrapper .ui-button-text,
#wrapper input.ui-button {
  padding: 1px 9px;
  color: #0c0b0c;
  font-size: 0.9em;
}
#wrapper .ui-button.ui-state-active {
  background: #1ebc4b;
}
#wrapper .ui-tabs {
  padding: 0;
  border: none;
}
#wrapper .ui-tabs .ui-tabs-panel {
  padding: 0;
  margin: 5px;
}
#wrapper .ui-tabs .ui-tabs-nav {
  background: #1c181a;
  margin: 5px;
  padding: 10px 7px 0 10px;
}
#wrapper .ui-tabs .ui-tabs-nav li a {
  padding: 3px 12px;
  text-transform: uppercase;
}
#wrapper .ui-widget-header {
  background: none;
}
body.on #wrapper .ui-slider-vertical .ui-slider-range {
  background: url(images/sliderVerticalRange.png) repeat-y;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
body.on #wrapper .ui-slider-horizontal .ui-slider-range {
  background: url(images/sliderHorizontalRange.png) repeat-x;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#wrapper .box {
  padding: 20px 0;
  overflow: hidden;
}
#wrapper .box:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}
#wrapper .box:hover * {
  color: #fff;
}
#wrapper .box:hover .ui-button,
#wrapper .box:hover .ui-tabs-anchor,
#wrapper .box:hover .ui-button-text {
  color: #000;
}
#wrapper .box:hover .ui-slider {
  border-color: #aaa;
}
.bound {
  position: relative;
  margin: 0 2%;
  height: 100%;
}
.vLabel {
  background: url(images/labelArrowHorizontal.png) no-repeat left center;
  padding-left: 15px;
  position: absolute;
  height: 50px;
  line-height: 50px;
  left: 70%;
  margin-left: 15px;
  margin-bottom: -25px;
  white-space: nowrap;
}
.hLabel {
  background: url(images/labelArrowVertical.png) no-repeat center bottom;
  padding-bottom: 9px;
  position: absolute;
  width: 50px;
  margin-left: -24px;
  margin-top: -50px;
  text-align: center;
  white-space: nowrap;
}
#frequency {
  position: relative;
  float: right;
  width: 70%;
}
#frequency .bound {
  height: 165px;
}
#frequency .arrow {
  position: absolute;
  top: 38px;
  width: 20px;
  height: 32px;
  background: url(images/arrows.png);
  cursor: pointer;
}
#frequency .arrow.toLeft {
  left: 5px;
  background-position: 0 0;
}
#frequency .arrow.toLeft:hover {
  background-position: 0 -32px;
}
#frequency .arrow.toRight {
  right: 5px;
  background-position: -20px 0;
}
#frequency .arrow.toRight:hover {
  background-position: -20px -32px;
}
#frequency .slider {
  position: absolute;
  top: 48px;
  left: 50px;
  right: 50px;
}
#frequency .station,
#frequency .frequency {
  position: absolute;
  top: 0;
}
#frequency .station .value,
#frequency .frequency .value {
  color: #1ebc4b;
}
#frequency .station {
  left: 50px;
}
#frequency .station .label {
  text-transform: uppercase;
}
#frequency .station .label,
#frequency .station .value,
#frequency .station .button {
  line-height: 30px;
}
#frequency .frequency {
  right: 50px;
}
#frequency .frequency .value,
#frequency .frequency .band {
  line-height: 30px;
}
#frequency .minusPlus {
  position: absolute;
  top: 47px;
  width: 11px;
  height: 11px;
  background: url(images/minusPlus.png);
  cursor: pointer;
}
#frequency .minusPlus.minus {
  left: 33px;
  background-position: 0 0;
}
#frequency .minusPlus.minus:hover {
  background-position: 0 -11px;
}
#frequency .minusPlus.plus {
  right: 33px;
  background-position: -11px 0;
}
#frequency .minusPlus.plus:hover {
  background-position: -11px -11px;
}
#frequency .marker {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 95px;
  bottom: 0;
  overflow: hidden;
}
#frequency .marker .inner {
  position: absolute;
  height: 100%;
  width: 120%;
  left: -10px;
}
#frequency .marker .inner .line {
  position: absolute;
  width: 2px;
  margin-left: -1px;
  height: 20px;
  background: #c4c4c4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#frequency .marker .inner .line.big {
  width: 4px;
  margin-left: -2px;
  height: 30px;
}
#frequency .marker .inner .label {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 50px;
  margin-left: -25px;
}
#list {
  position: relative;
  float: left;
  width: 30%;
}
#list .bound {
  height: 755px;
}
#list .tabsWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 35px;
  box-shadow: 1px 1px 5px #000;
}
#list .tabs {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#list .tabs #favoriteStations li,
#list .tabs #allStations li {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 15px;
  margin-bottom: 5px;
  background: #1c181a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#list .tabs #favoriteStations li:last-child,
#list .tabs #allStations li:last-child {
  margin-bottom: 0;
}
#list .tabs #favoriteStations li:hover,
#list .tabs #allStations li:hover {
  background: #0c4b1e;
}
#list .tabs #favoriteStations li:hover .button,
#list .tabs #allStations li:hover .button {
  display: inline-block;
  opacity: 1;
}
#list .tabs #favoriteStations li:hover.buttonHovered,
#list .tabs #allStations li:hover.buttonHovered {
  background: #0c0b0c;
}
#list .tabs #favoriteStations li .button:focus,
#list .tabs #allStations li .button:focus {
  display: inline-block;
  opacity: 1;
}
#list .tabs #favoriteStations li.active,
#list .tabs #allStations li.active,
#list .tabs #favoriteStations li.active.buttonHovered,
#list .tabs #allStations li.active.buttonHovered {
  background: #18963c;
}
#list .tabs #favoriteStations li.active span,
#list .tabs #allStations li.active span,
#list .tabs #favoriteStations li.active.buttonHovered span,
#list .tabs #allStations li.active.buttonHovered span {
  color: #0c0b0c;
}
#list .tabs #favoriteStations li.active .button:focus,
#list .tabs #allStations li.active .button:focus,
#list .tabs #favoriteStations li.active.buttonHovered .button:focus,
#list .tabs #allStations li.active.buttonHovered .button:focus {
  display: inline-block;
  opacity: 1;
  outline-color: #fff !important;
}
#list .tabs #favoriteStations li:focus:before,
#list .tabs #allStations li:focus:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#list .tabs #favoriteStations li .station,
#list .tabs #allStations li .station {
  position: absolute;
  top: 15px;
  z-index: 1;
  float: left;
}
#list .tabs #favoriteStations li .button,
#list .tabs #allStations li .button {
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
}
#list .tabs #favoriteStations li .frequency,
#list .tabs #allStations li .frequency {
  position: absolute;
  right: 10px;
}
#list .tabs #favoriteStations,
#list .tabs #allStations {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  overflow: auto;
}
#list .buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#list .buttons input {
  width: 49%;
  text-transform: uppercase;
  font-family: "Sanchez", "Arial", sans-serif;
}
#list .buttons .clear {
  float: left;
}
#list .buttons .search {
  float: right;
}
#sound {
  position: relative;
  float: left;
  width: 45%;
}
#sound .bound {
  height: 290px;
}
#sound .trebleSlider {
  position: absolute;
  z-index: 1;
  width: 50%;
  top: 0;
  bottom: 120px;
}
#sound .trebleSlider .slider {
  left: 50%;
  margin-left: -4px;
  height: 100%;
}
#sound .trebleSlider .vLabel {
  left: 50%;
}
#sound .trebleLabel {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  margin-left: -50%;
  text-align: center;
  bottom: 90px;
  display: block;
  left: 25%;
}
#sound .bassSlider {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 120px;
}
#sound .bassSlider .slider {
  left: 50%;
  margin-left: -4px;
  height: 100%;
}
#sound .bassSlider .vLabel {
  left: 50%;
}
#sound .bassLabel {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  margin-left: -50%;
  text-align: center;
  bottom: 90px;
  display: block;
  left: 75%;
}
#sound .balanceSlider {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 40px;
}
#sound .balanceLabel {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  margin-left: -50%;
  text-align: center;
  bottom: 0;
  display: block;
  left: 50%;
}
#sound .balanceLabel .label {
  background: url(images/labelArrowHorizontal.png) no-repeat left center;
  padding-left: 15px;
  position: absolute;
  height: 50px;
  line-height: 50px;
  left: 50%;
  margin-left: 15px;
  margin-bottom: -23px;
}
#volume {
  position: relative;
  float: right;
  width: 25%;
}
#volume .bound {
  height: 290px;
}
#volume .volumeSlider {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 30px;
}
#volume .volumeSlider .slider {
  left: 70%;
  margin-left: -4px;
  height: 100%;
}
#volume .volumeLabel {
  position: absolute;
  text-transform: uppercase;
  width: 50%;
  margin-left: -25%;
  text-align: center;
  bottom: 0;
  display: block;
  left: 70%;
}
#volume .buttonWrapper {
  bottom: 0;
  left: 25%;
  width: 56px;
  margin-top: -33px;
}
#volume #muteButton {
  background: url(images/muteButton.png) no-repeat 0 0;
  padding: 10px;
  height: 36px;
}
#volume #muteButton a {
  display: block;
  width: 36px;
  height: 36px;
}
#volume #muteButton.down {
  background-position: 0 -56px;
}
body.on #volume #muteButton {
  background-position: -56px 0;
}
body.on #volume #muteButton.down {
  background-position: -56px -56px;
}
body.on #volume .ui-slider-range {
  background: url(images/sliderVerticalRange.png) repeat-y;
}
body.on #volume.on #muteButton {
  background-position: -112px 0;
}
body.on #volume.on #muteButton.down {
  background-position: -112px -56px;
}
body.on #volume.on .ui-slider-range {
  background: url(images/sliderVerticalRangeWarning.png) repeat-y;
}
#timer {
  position: relative;
  float: right;
  width: 70%;
}
#timer .bound {
  height: 220px;
}
#timer #sleepTimer,
#timer #reminderTimer {
  position: relative;
  height: 50%;
}
#timer #sleepTimer .sleepSlider,
#timer #reminderTimer .reminderSlider {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 70px;
  margin-top: -4px;
}
#timer .label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  text-align: center;
  z-index: -1;
  margin-top: 20px;
  text-transform: uppercase;
}
#timer .buttonWrapper {
  top: 50%;
  right: 0;
  height: 66px;
  margin-top: -33px;
}
#timer #sleepButton {
  background: url(images/sleepButton.png) no-repeat 0 0;
}
#timer #reminderButton {
  background: url(images/reminderButton.png) no-repeat 0 0;
}
#timer #sleepButton,
#timer #reminderButton {
  padding: 12px;
  height: 42px;
}
#timer #sleepButton a,
#timer #reminderButton a {
  display: block;
  width: 42px;
  height: 42px;
}
#timer #sleepButton.down,
#timer #reminderButton.down {
  background-position: 0 -66px;
}
.on #timer #sleepTimer #sleepButton {
  background-position: -66px 0;
}
.on #timer #sleepTimer #sleepButton.down {
  background-position: -66px -66px;
}
.on #timer #sleepTimer .ui-slider-range {
  background: url(images/sliderHorizontalRangeOff.png) repeat-x;
}
.on #timer #sleepTimer.on #sleepButton {
  background-position: -132px 0;
}
.on #timer #sleepTimer.on #sleepButton.down {
  background-position: -132px -66px;
}
.on #timer #sleepTimer.on .ui-slider-range {
  background: url(images/sliderHorizontalRange.png) repeat-x;
}
.on #timer #reminderTimer #reminderButton {
  background-position: -66px 0;
}
.on #timer #reminderTimer #reminderButton.down {
  background-position: -66px -66px;
}
.on #timer #reminderTimer .ui-slider-range {
  background: url(images/sliderHorizontalRangeOff.png) repeat-x;
}
.on #timer #reminderTimer.on #reminderButton {
  background-position: -132px 0;
}
.on #timer #reminderTimer.on #reminderButton.down {
  background-position: -132px -66px;
}
.on #timer #reminderTimer.on .ui-slider-range {
  background: url(images/sliderHorizontalRange.png) repeat-x;
}
.on #timer #reminderTimer.on .ui-slider-range {
  background: url(images/sliderHorizontalRange.png) repeat-x;
}
#footer {
  line-height: 33px;
  padding: 0 20px;
  font-size: 0.95em;
}
#footer .name {
  float: left;
}
#footer .license {
  float: right;
}
body {
  font-size: 1.06em;
}
@media screen and (max-width: 1600px) {
  body {
    font-size: 1.04em;
  }
}
@media screen and (max-width: 1400px) {
  body {
    font-size: 1.04em;
  }
  #frequency {
    width: 60%;
  }
  #list {
    width: 40%;
  }
  #sound {
    width: 35%;
  }
  #volume {
    width: 25%;
  }
  #timer {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 1.02em;
  }
}
@media screen and (max-width: 1100px) {
  body {
    font-size: 1.00em;
  }
  #frequency {
    width: 100%;
  }
  #list {
    width: 70%;
  }
  #list .bound {
    height: 290px;
  }
  #volume {
    width: 30%;
  }
  #sound {
    width: 30%;
  }
  #timer {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 1.00em;
  }
  #volume .buttonWrapper {
    left: 20%;
  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 0.98em;
  }
  #frequency .station .label {
    display: none;
  }
  #volume .buttonWrapper {
    left: 15%;
  }
}
@media screen and (max-width: 650px) {
  body {
    font-size: 0.96em;
  }
  #frequency {
    width: 100%;
  }
  #list {
    width: 100%;
  }
  #sound {
    width: 60%;
  }
  #volume {
    width: 40%;
  }
  #volume .buttonWrapper {
    left: 10%;
  }
  #timer {
    width: 100%;
  }
  #frequency .station {
    left: 0;
  }
  #frequency .frequency {
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
  #volume .buttonWrapper {
    left: 5%;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.75em;
  }
  #volume .buttonWrapper {
    left: 0;
  }
  #frequency .label {
    display: none;
  }
}
#loaderScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  z-index: 10000;
  top: 0;
  left: 0;
}
#loaderScreen .text {
  text-align: center;
  position: absolute;
  top: 50%;
  line-height: 25px;
  margin-top: -50px;
  width: 100%;
  font-size: 1.3em;
  text-transform: uppercase;
}
#loaderScreen .loader {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  background: url(images/ajax-loader.gif);
}
.ui-buttonset label.ui-state-focus {
  outline: 2px dotted #18963C !important;
}
.ui-dialog .ui-dialog-content *,
.ui-dialog .ui-widget-content .ui-button .ui-button-text {
  color: #000;
}
.ui-dialog .ui-dialog-titlebar-close {
  background: url(jqueryui/images/ui-bg_highlight-soft_80_696969_1x100.png) repeat-x scroll 50% 50% #696969;
  color: #262223;
  font-weight: normal;
}
.ui-widget-overlay {
  opacity: 0.7;
  background: #000;
}