@normalFontSize: 1.2em;
@bigFontSize: 1.3em;

@backgroundColor: #1C181A;
@headerColor: #0C0B0C;
@highlightColor: #1ebc4b;

@fontFamily: "Sanchez", "Arial", sans-serif;
@fontColor: #c4c4c4;

.roundedCorners(@radius: 10px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.boxShadow() {
    box-shadow: 1px 1px 5px #000;
}

/**
 * Clearing
 */
* {
    margin: 0;
    padding: 0;
    color: @fontColor;
    font-family: @fontFamily;
}

html, body {
    height: 100%;
}

body {
    background: @backgroundColor;
    font-size: @normalFontSize;
}

.hidden {
    display: none;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -33px; // the bottom margin is the negative value of the footer's height
}
#wrapper, #header {
    :focus {
        outline: 2px dotted #18963C !important;
    }
}
.buttonWrapper :focus {
    outline-offset: 10px;
}
li:focus {
    outline-offset: -2px;
}
#wrapper li.active:focus {
    outline-color: #fff !important;
}

#footer, #wrapperBottom {
    height: 33px; // .push must be the same height as #footer
    clear: both;
}

#header, #footer {
    background: @headerColor;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#header, #wrapperTop {
    height: 120px;
}

#headline {
    position: absolute;
    top: 15px;
    left: 100px;
    font-size: @bigFontSize;
    text-transform: uppercase;
}

#description {
    position: absolute;
    right: 50px;
    top: 15px;
    font-size: @bigFontSize;
    
    span {
        float: right;
        clear: both;
        color: @highlightColor;
    }
    .band {
        font-size: 0.8em;
    }
}

#strength {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 29px;
    height: 97px;
    background: url(images/strength.gif);
    .inner {
        background: url(images/strengthInner.gif);
        width: 100%;
        height: 60%; // set with javascript
    }
}

.buttonWrapper {
    position: absolute;
    width: 66px;
    height: 80px;
    text-transform: uppercase;
    
    &.power {
        width:84px;
        top: 5px;
        left: 5px;
        height: 105px;
    }
    
    span {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 0.8em;
    }
}

#powerButton {
    height: 60px;
    background: url(images/powerButton.png) no-repeat 0 0;
    color: #f00;
    padding: 12px;
    a {
        display: block;
        width: 60px;
        height: 60px;
    }
    
    // states
    &.down {
        background-position: 0 -84px;
    }
}
.on #powerButton {
    background-position: -84px 0;
    &.down {
        background-position: -84px -84px;
    }
}

// overwrite jqueryui styles
#wrapper {
    // SLIDER
    .ui-slider {
        border: 1px solid #777;
    }
    .ui-slider-handle {
        background: url(images/sliderHandle.png) no-repeat 3px 3px;
        border: none;
        width: 26px;
        height: 26px;
    }
    .ui-slider-horizontal {
        background: url(images/sliderHorizontal.png) repeat-x;
        height: 8px;
        .ui-slider-handle {
            margin-left: -12px;
            top: -9px;
        }
        .ui-slider-range {
            background: none;
        }
    }
    .balanceSlider {
        .ui-slider-range-max {
            width: auto !important;
        }
    }
    .ui-slider-vertical {
        background: url(images/sliderVertical.png) repeat-y;
        width: 8px;
        .ui-slider-handle {
            margin-top: -12px;
            left: -9px;
        }
        .ui-slider-range {
            background: none;
        }
    }
    .trebleSlider, .bassSlider {
        .ui-slider-range-max {
            height: auto !important;
        }
    }
    // BUTTON
    .ui-button {
        .boxShadow
    }
    .ui-button-text, input.ui-button {
        padding: 1px 9px;
        color: @headerColor;
        font-size: 0.9em;
    }
    .ui-button.ui-state-active {
        background: @highlightColor;
    }
    // TABS
    .ui-tabs {
        padding: 0;
        border: none;
        .ui-tabs-panel {
            padding: 0;
            margin: 5px;
        }
        .ui-tabs-nav {
            background: @backgroundColor;
            margin: 5px;
            padding: 10px 7px 0 10px;
            li a {
                padding: 3px 12px;
                text-transform: uppercase;
            }
        }
    }
    // WIDGET
    .ui-widget-header {
        background: none;
    }
}
body.on #wrapper {
    .ui-slider-vertical .ui-slider-range {
        background: url(images/sliderVerticalRange.png) repeat-y;    
        .roundedCorners;
    }
    .ui-slider-horizontal .ui-slider-range {
        background: url(images/sliderHorizontalRange.png) repeat-x;  
        .roundedCorners;
    }
}

#wrapper .box {
    padding: 20px 0;
    overflow: hidden;
    &:hover {
        background: rgba(0, 0, 0, 0.2);
        .roundedCorners;
        .boxShadow;
        * {
            color: #fff;
        }
        .ui-button, .ui-tabs-anchor, .ui-button-text {
            color: #000;
        }
        .ui-slider {
            border-color: #aaa;
        }
    }
}

.bound {
    position: relative;
    margin: 0 2%;
    height: 100%;
}

.vLabel {
    background: url(images/labelArrowHorizontal.png) no-repeat left center;
    padding-left: 15px;
    position: absolute;
    height: 50px;
    line-height: 50px;
    left: 70%;
    margin-left: 15px;
    margin-bottom: -25px;
    white-space: nowrap;
}
.hLabel {
    background: url(images/labelArrowVertical.png) no-repeat center bottom;
    padding-bottom: 9px;
    position: absolute;
    width: 50px;
    margin-left: -24px;
    margin-top: -50px;
    text-align: center;
    white-space: nowrap;
}

#frequency {
    position: relative;
    float: right;
    width: 70%;
    .bound {
        height: 165px;
    }
    .arrow {
        position: absolute;
        top: 38px;
        width: 20px;
        height: 32px;
        background: url(images/arrows.png);
        cursor:pointer;
        &.toLeft {
            left: 5px;
            background-position: 0 0;
            &:hover {
                background-position: 0 -32px;
            }
        }
        &.toRight {
            right: 5px;
            background-position: -20px 0;
            &:hover {
                background-position: -20px -32px;
            }
        }
    }
    .slider {
        position: absolute;
        top: 48px;
        left: 50px;
        right: 50px;
    }
    .station, .frequency {
        position: absolute;
        top: 0;
        .value {
            color: @highlightColor;
        }
    }
    .station {
        left: 50px;
        .label {
            text-transform: uppercase;
        }
        .label, .value, .button {
            line-height: 30px;
        }
    }
    .frequency {
        right: 50px;
        .value, .band {
            line-height: 30px;
        }
    }
    .minusPlus {
        position: absolute;
        top: 47px;
        width: 11px;
        height: 11px;
        background: url(images/minusPlus.png);
        cursor: pointer;
        &.minus {
            left: 33px;
            background-position: 0 0;
            &:hover {
                background-position: 0 -11px;
            }
        }
        &.plus {
            right: 33px;
            background-position: -11px 0;
            &:hover {
                background-position: -11px -11px;
            }
        }
    }
    .marker {
        position: absolute;
        left: 50px;
        right: 50px;
        top: 95px;
        bottom: 0;
        overflow: hidden;
        .inner {
            position: absolute;
            height: 100%;
            width: 120%; // set with javascript
            left: -10px; // set with javascript
            .line {
                position: absolute;
                width: 2px;
                margin-left: -1px;
                height: 20px;
                background: @fontColor;
                &.big {
                    width: 4px;
                    margin-left: -2px;
                    height: 30px;
                }
                .roundedCorners(2px);
            }
            .label {
                position: absolute;
                top: 30px;
                text-align: center;
                width: 50px;
                margin-left: -25px;
            }
        }
    }
}

#list {
    position: relative;
    float: left;
    width: 30%;
    .bound {
        height: 755px;
    }
    .tabsWrapper {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 35px;
        .boxShadow
    }
    .tabs {
        position: relative;
        height: 100%;
        overflow: hidden;
        #favoriteStations li, #allStations li {
            position: relative;
            height: 30px;
            line-height: 30px;
            padding: 15px;
            margin-bottom: 5px;
            background: @backgroundColor;
            .roundedCorners();
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background: @highlightColor*0.4;
                .button {
                    display: inline-block;
                    opacity: 1;
                }
                &.buttonHovered {
                    background: @headerColor;
                }
            }
            .button:focus {
                display: inline-block;
                opacity: 1;
            }
            &.active, &.active.buttonHovered {
                background: @highlightColor*0.8;
                span {
                    color: @headerColor;
                }
                .button:focus {
                    display: inline-block;
                    opacity: 1;
                    outline-color: #fff !important;
                }
            }
            &:focus:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.2);
                .roundedCorners;
            }
            .station {
                position: absolute;
                top: 15px;
                z-index: 1;
                float: left;
            }
            .button {
                margin-left: 10px;
                display: inline-block;
                opacity: 0;
            }
            
            .frequency {
                position: absolute;
                right: 10px;
            }
        }
        #favoriteStations, #allStations {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 55px;
            overflow: auto;
        }
    }
    .buttons {
        position: absolute;
        width: 100%;
        bottom: 0;
        input {
            width: 49%;
            text-transform: uppercase;
            font-family: @fontFamily;
        }
        .clear {
            float: left;
        }
        .search {
            float: right;
        }
    }
}

#sound {
    position: relative;
    float: left;
    width: 45%;
    .bound {
        height: 290px;
        // background: #f00;
    }
    .trebleSlider {
        position: absolute;
        z-index: 1;
        width: 50%;
        top: 0;
        bottom: 120px;
        .slider {
            left: 50%;
            margin-left: -4px;
            height: 100%;
        }
        .vLabel {
            left: 50%;
        }
    }
    .trebleLabel {
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        margin-left: -50%;
        text-align: center;
        bottom: 90px;
        display: block; 
        left: 25%;
    }
    .bassSlider {
        position: absolute;
        width: 50%;
        right: 0;
        top: 0;
        bottom: 120px;
        .slider {
            left: 50%;
            margin-left: -4px;
            height: 100%;
        }
        .vLabel {
            left: 50%;
        }
    }
    .bassLabel {
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        margin-left: -50%;
        text-align: center;
        bottom: 90px;
        display: block; 
        left: 75%;
    }
    .balanceSlider {
        position: absolute;
        width: 80%;
        left: 10%;
        bottom: 40px;
    }
    .balanceLabel {
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        margin-left: -50%;
        text-align: center;
        bottom: 0;
        display: block; 
        left: 50%;
        .label {
        background: url(images/labelArrowHorizontal.png) no-repeat left center;
            padding-left: 15px;
            position: absolute;
            height: 50px;
            line-height: 50px;
            left: 50%;
            margin-left: 15px;
            margin-bottom: -23px;
        }
    }
}

#volume {
    position: relative;
    float: right;
    width: 25%;
    .bound {
        height: 290px;
        // background: #0f0;
    }
    .volumeSlider {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 30px;
        .slider {
            left: 70%;
            margin-left: -4px;
            height: 100%;
        }
    }
    .volumeLabel {
        position: absolute;
        text-transform: uppercase;
        width: 50%;
        margin-left: -25%;
        text-align: center;
        bottom: 0;
        display: block; 
        left: 70%;
    }
    .buttonWrapper {
        bottom: 0;
        left: 25%;
        width: 56px;
        margin-top: -33px;
    }
    #muteButton {
        background: url(images/muteButton.png) no-repeat 0 0;
        padding: 10px;
        height: 36px;
        a {
            display: block;
            width: 36px;
            height: 36px;
        }
        &.down {
            background-position: 0 -56px;
        }
    }
}
body.on #volume {
    #muteButton {
        background-position: -56px 0;
    }
    #muteButton.down {
        background-position: -56px -56px;
    }
    .ui-slider-range {
        background: url(images/sliderVerticalRange.png) repeat-y;  
    }
    &.on {
        #muteButton {
            background-position: -112px 0;
            &.down {
                background-position: -112px -56px;
            }
        }
        .ui-slider-range {
            background: url(images/sliderVerticalRangeWarning.png) repeat-y;  
        }
    }
}

#timer {
    position: relative;
    float: right;
    width: 70%;
    .bound {
        height: 220px;
        // background: #00f;
    }
    #sleepTimer, #reminderTimer {
        position: relative;
        height: 50%;
    }
    #sleepTimer .sleepSlider, #reminderTimer .reminderSlider {
        position: absolute;
        top: 50%;
        left: 15px;
        right: 70px;
        margin-top: -4px;
    }
    .label {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        margin-left: -75px;
        text-align: center;
        z-index: -1;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .buttonWrapper {
        top: 50%;
        right: 0;
        height: 66px;
        margin-top: -33px;
    }
    #sleepButton {
        background: url(images/sleepButton.png) no-repeat 0 0;
    }
    #reminderButton {
        background: url(images/reminderButton.png) no-repeat 0 0;
    }
    #sleepButton, #reminderButton {
        padding: 12px;
        height: 42px;
        a {
            display: block;
            width: 42px;
            height: 42px;
        }
        &.down {
            background-position: 0 -66px;
        }
    }
}
.on #timer #sleepTimer {
    #sleepButton {
        background-position: -66px 0;
    }
    #sleepButton.down {
        background-position: -66px -66px;
    }
    .ui-slider-range {
        background: url(images/sliderHorizontalRangeOff.png) repeat-x;  
    }
    &.on {
        #sleepButton {
            background-position: -132px 0;
            &.down {
                background-position: -132px -66px;
            }
        }
        .ui-slider-range {
            background: url(images/sliderHorizontalRange.png) repeat-x;  
        }
    }
}
.on #timer #reminderTimer {
    #reminderButton {
        background-position: -66px 0;
    }
    #reminderButton.down {
        background-position: -66px -66px;
    }
    .ui-slider-range {
        background: url(images/sliderHorizontalRangeOff.png) repeat-x;  
    }
    &.on {
        #reminderButton {
            background-position: -132px 0;
            &.down {
                background-position: -132px -66px;
            }
        }
        .ui-slider-range {
            background: url(images/sliderHorizontalRange.png) repeat-x;  
        }
        .ui-slider-range {
            background: url(images/sliderHorizontalRange.png) repeat-x;  
        }
    }
}

#footer {
    line-height: 33px;
    padding: 0 20px;
    font-size: 0.95em;
    .name {
        float: left;
    }
    .license {
        float: right;
    }
}

body {
    font-size: 1.06em;
}

@media screen and (max-width: 1600px) {
    body {
        font-size: 1.04em;
    }
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 1.04em;
    }
    #frequency { width: 60%; }
    #list { width: 40%; }
    #sound { width: 35%; }
    #volume { width: 25%; }
    #timer { width: 60%; }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 1.02em;
    }
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 1.00em;
    }
    #frequency { width: 100%; }
    #list { width: 70%; }
    #list .bound { height: 290px; }
    #volume { width: 30%; }
    #sound { width: 30%; }
    #timer { width: 70%; }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1.00em;
    }
    #volume .buttonWrapper { left: 20%; }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 0.98em;
    }
    #frequency .station .label {
        display:none;
    }
    #volume .buttonWrapper { left: 15%; }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 0.96em;
    }
    #frequency { width: 100%; }
    #list { width: 100%; }
    #sound { width: 60%; }
    #volume { width: 40%; }
    #volume .buttonWrapper { left: 10%; }
    #timer { width: 100%; }
    
    #frequency .station {
        left: 0;
    }
    #frequency .frequency {
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
    #volume .buttonWrapper { left: 5%; }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.75em;
    }
    #volume .buttonWrapper { left: 0; }
    #frequency .label { display: none; }
}

#loaderScreen {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.95);
    z-index: 10000;
    top: 0;
    left: 0;
    .text {
        text-align: center;
        position: absolute;
        top: 50%;
        line-height: 25px;
        margin-top: -50px;
        width: 100%;
        font-size: @bigFontSize;
        text-transform: uppercase;
    }
    .loader {
        position: absolute;
        width: 220px;
        height: 19px;
        top: 50%;
        left: 50%;
        margin-left: -110px;
        background: url(images/ajax-loader.gif);
    }
}

.ui-buttonset label.ui-state-focus {
    outline: 2px dotted #18963C !important;
}

.ui-dialog .ui-dialog-content *, .ui-dialog .ui-widget-content .ui-button .ui-button-text {
    color: #000;
}
.ui-dialog .ui-dialog-titlebar-close {
    background: url(jqueryui/images/ui-bg_highlight-soft_80_696969_1x100.png) repeat-x scroll 50% 50% #696969;
    color: #262223;
    font-weight: normal;
}
.ui-widget-overlay {
    opacity: 0.7;
    background: #000;
}