.type-signature {
	margin-right: 10px;
}

.optional:after {
	border-radius: 9px 9px 9px 9px;
	display:inline-block;
	padding:2px 4px;
	font-size:11.844px;
	font-weight:bold;
	line-height:14px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	white-space:nowrap;
	vertical-align:baseline;
	background-color:#999
}

#main .description {
	margin-left: 0;
}

#main .subnav {
	padding-bottom: 20px;
	padding-left: 0;
}

.subnav .nav-header {
	padding-top: 20px;
}

header#header #highlight .hero-unit a {
	border: none;
	box-shadow: none;
	color: #000;
}

.params .name, .props .name, .name code {
	color: #015D1A;
}

.prettyprint  {
	width: auto;
}

footer {
	font-size: inherit;
	font-style: inherit;
}

@media screen and (max-width: 800px) {
    #mainnav ul.nav li a {
        padding: 0 25px;
    }
}

@media screen and (max-width: 600px) {
    #mainnav ul.nav li a {
        padding: 0 10px;
    }
    #body #highlight .hero-unit h1 {
        font-size: 40px;
    }
    #body #highlight .hero-unit {
        font-size: 100%;
        line-height: 20px;
    }
    #main .subnav, #main .site {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 520px) {
	#body footer {
		font-size: 80%;
	}
}